<div class="container">
  <h1 class="title">LINE-UP</h1>
  <div class="containerPhoto">
    <figure>
      <img class="fit-picture" src="/assets/images/pnl.png"
           alt="pnl">
      <figcaption>PNL</figcaption>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/ninho.jpeg"
           alt="ninho">
      <figcaption>Ninho</figcaption>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/weeknd.jpeg"
           alt="the Weeknd">
      <figcaption>The Weeknd</figcaption>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/dadju.jpeg"
           alt="dadju">
      <figcaption>Dadju</figcaption>
    </figure>
  </div>


  <h2>DATES</h2>
  <div>The f-festival will take place between 12 July and 16 July 2022</div>

  <h2>OPENING HOURS</h2>
  <div>12:00 every day</div>


</div>


