<div class="container">
  <h1 class="title">LINE-UP</h1>



  <div class="containerPhoto">
    <figure>
      <img class="fit-picture" src="/assets/images/pnl.png"
           alt="pnl">
      <figcaption>PNL</figcaption>
      <video controls>
        <source src="/assets/musics/pnl.mp4">
      </video>

    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/ninho.jpeg"
           alt="ninho">
      <figcaption>Ninho</figcaption>
      <video controls>
        <source src="/assets/musics/ninho.mp4">
      </video>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/weeknd.jpeg"
           alt="the Weeknd">
      <figcaption>The Weeknd</figcaption>
      <video controls>
        <source src="/assets/musics/theweeknd.mp4">
      </video>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/angele.jpg"
           alt="angele">
      <figcaption>Angèle</figcaption>
      <video controls>
        <source src="/assets/musics/angele.mp4">
      </video>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/dadju.jpg"
           alt="dadju">
      <figcaption>Dadju</figcaption>
      <video controls>
        <source src="/assets/musics/dadju.mp4">
      </video>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/duaLipa.jpg"
           alt="duaLipa">
      <figcaption>Dua Lipa</figcaption>
      <video controls>
        <source src="/assets/musics/duaLipa.mp4">
      </video>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/stromae.jpg"
           alt="stromae">
      <figcaption>Stromae</figcaption>
      <video controls>
        <source src="/assets/musics/stromae.mp4">
      </video>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/drake.jpg"
           alt="drake">
      <figcaption>Drake</figcaption>
      <video controls>
        <source src="/assets/musics/drake.mp4">
      </video>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/aya.jpg"
           alt="aya">
      <figcaption>Aya Nakamura</figcaption>
      <video controls>
        <source src="/assets/musics/aya.mp4">
      </video>
    </figure>
    <figure>
      <img class="fit-picture" src="/assets/images/beo.jpg"
           alt="beo">
      <figcaption>Bigflo & Oli</figcaption>
      <video controls>
        <source src="/assets/musics/beo.mp4">
      </video>
    </figure>
  </div>



  <app-artist-list [artists]="artists"
                   (artistDeleted)="deleteArtist($event)"></app-artist-list>

  <app-artist-form (artistCreated)="sendArtist($event)"></app-artist-form>


</div>


