<div class="contenair">
  <div class="wrapper">
    <header>Login</header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (dblclick)="autoComplete()">
      <div>
        <div class="field email">
          <div class="input-area">
            <input type="text" id='pseudo' formControlName="pseudo" placeholder="Pseudo" data-cy="inputPseudoLogin"/>

          </div>
        </div>
        <div class="field password">
          <div class="input-area">
            <input type="password" id='password' formControlName="password" placeholder="Password" data-cy="inputPasswordLogin"/>
          </div>
        </div>


        <input type="submit" [disabled]="loginForm.invalid" value="Login" data-cy="inputSubmitLogin">

        <div *ngIf="errorBool" class="error">Invalid pseudo or password</div>
      </div>
    </form>

    <div class="sign-txt">Not yet member ? <a (click)="signup()">Sign up now !</a></div>

