<div class="contenair">
  <div class="wrapper">
    <header>Login</header>
    <form action="#">
      <div class="field email">
        <div class="input-area">
          <input type="text" placeholder="Email Address">
        </div>
      </div>
      <div class="field password">
        <div class="input-area">
          <input type="password" placeholder="Password">
        </div>
      </div>
      <input type="submit" value="Login">
    </form>
    <div class="sign-txt">Not yet member ? <a href="#">Signup now</a></div>
  </div>
</div>

