ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 3%;
  font-size: 1.7vw;
}

ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #2b1055;
  border-radius: 20px;
}

ul li a:hover {
  background: white;
  color: #2b1055;
}

.logo
{
  max-width: 16%;
  max-height: 16%;
}

.container
{
  max-height: 10%;
  width: 100%;
}

.active
{
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}
