<a href="#" class="logo">Logo</a>
<div>
  <ul>
    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="lineUp" routerLinkActive="active">Line-up</a></li>
    <li><a routerLink="tickets" routerLinkActive="active">Tickets</a></li>
    <li><a routerLink="info" routerLinkActive="active">Infos</a></li>
    <!--<li><a routerLink="media" routerLinkActive="active">Media</a></li>-->
    <li><a routerLink="merchandise" routerLinkActive="active">Merchandise</a></li>


  </ul>

  <router-outlet></router-outlet>

</div>

