.logo {
  color: #2b1055;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 3%;
  font-size: 1.7vw;
}

ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #2b1055;
  border-radius: 20px;
}

ul li a:hover {
  background: white;
  color: #2b1055;
}

.logo
{
  max-width: 13%;
  max-height: 13%;
}

