<div class="container">
  <a routerLink="home" routerLinkActive="active"><img class="logo" href="#" src="/assets/images/logo.png"></a>
  <ul>
    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="lineUp" routerLinkActive="active">Line-up</a></li>
    <li (click)="checkConnected()"><a routerLinkActive="active">Tickets</a></li>
    <li><a routerLink="info" routerLinkActive="active">Infos</a></li>
    <li><a routerLink="merchandise" routerLinkActive="active">Merchandise</a></li>
    <li *ngIf="connected==false"><a routerLink="login" routerLinkActive="active">Login</a></li>
    <li *ngIf="connected==true"><a routerLink="Log Out" routerLinkActive="active" (click)="logOut()">Log Out</a></li>
    <li *ngIf="adminConnected==true"><a routerLink="admin" routerLinkActive="active">Admin</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>


