<div class="contenair">
  <div class="wrapper">
    <header>Sign Up</header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="field email">
          <div class="input-area">
            <input type="text" id='pseudo' formControlName="pseudo" placeholder="Pseudo"/>

          </div>
        </div>
        <div class="field password">
          <div class="input-area">
            <input type="password" id='password' formControlName="password" placeholder="Password"/>
          </div>
        </div>


        <input type="submit" [disabled]="loginForm.invalid" value="Login">

        <div *ngIf="errorBool" class="error">
          <div class="error" *ngFor="let error of errorsString">{{error}}</div>
        </div>
      </div>
    </form>

    <div class="sign-txt">Already member ? <a (click)="loginRoute()">Log in now !</a></div>

