<div class="contenair">
  <div class="wrapper">
    <header>Sign up</header>
    <form #form="ngForm">
      <div class="field email">
        <div class="input-area">
          <input type="email" name="Email Adress" required placeholder="Email Adress" [(ngModel)]="value.email">
        </div>
      </div>
      <div class="field password">
        <div class="input-area">
          <input type="password" name="Password" required placeholder="Password" [(ngModel)]="value.password">
        </div>
      </div>
      <input type="submit" value="Sign up" [disabled]="form.invalid">
    </form>
    <div class="sign-txt">Already member ? <a (click)="loginRoute()" >Sign up now !</a></div>
  </div>
</div>

